### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule witamy index.html
RewriteRule olx olx.html

#RewriteCond %{HTTP_HOST} !^www.remontymarcina.pl$ [NC]
#RewriteCond %{REQUEST_URI} !^/img/oglogo.jpg$ [NC]
#RewriteRule ^(.*)$ http://www.remontymarcina.pl/witamy$1 [L,R=301]

RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* ? [F,L]


AddType image/svg+xml svg svgz
AddEncoding gzip svgz

SetOutputFilter DEFLATE

BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# BEGIN Expire headers
# Makes cached files stay cached for longer (304 Not modified) = fewer 200 responses.
# Aim for at least 1 month for images, ideally a year (not longer - that'll break RFC specs)

  ExpiresActive On
  ExpiresDefault "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 7 days"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType application/x-shockwave-flash "access plus 1 year"
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType text/javascript "access plus 7 days"
  ExpiresByType application/x-javascript "access plus 7 days"
  ExpiresByType text/html "access plus 7 days"
  ExpiresByType application/xhtml+xml "access plus 7 days"

# END Expire headers

# BEGIN Cache-Control Headers
# Only using the private/public values here - not max-age (Expires headers cover the same thing, and are more widely supported)

  Header set Cache-Control "public"
  Header set Cache-Control "private"
  Header set Cache-Control "private, must-revalidate"

# END Cache-Control Headers

# BEGIN Turn ETags Off
# Inherently misconfigured, especially for server clusters

  Header unset ETag
  FileETag None

# END Turn ETags Off

# BEGIN Remove Last-Modified Header
# We're using Expires header to check for freshness, so save bytes by not returning this header.

  Header unset Last-Modified

# END Remove Last-Modified Header
