// collor palette
$whiteDirt: rgba(230,230,230, 1);
$logoBlue: rgba(0, 150, 255, 1);
$shadowBlack: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadowWhite: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
$shadowBlackBox: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
