@import "compass";
@import "compass/reset";
@import "_boxsizing";
@import "_media-queries_mxn";
@import "_flexbox_mxn";
@import "_letStyles";
@import "_hamMenuIcon";
// @import "_gridCSSLayout_mxn";
// #0 GLOBALS
html{
  height: 100%;
}
.wrapper{
  width: 100%;
  background: $whiteDirt;
  overflow: hidden;
  a, a:hover{
    text-decoration: none;
    color:inherit;
  }
}
// RWD hidden / visible
.SM{
  display: none;
  @include respond-below(sm){
  display: inline;
  }
}
.MD{
  display: none;
  @include respond-above(sm){
  display: inline;
  }
}
// END - RWD hidden / visible
.cardContainer{
  position: relative;
  @include flexbox();
  padding: 4rem 0 4rem 0;
  min-height: 45rem;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif 'Calibri';
  font-size: 1.5rem;
}
// flex globals
.centeredContent{
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  & .text{
    width: 75%;
    line-height: 3rem;
    opacity: 1;
    z-index: 20;

    @include respond-above(xs){
    width: 70%;
    line-height: 3rem;
    font-size: 2rem;
    }

    @include respond-above(sm){
    width: 70%;
    line-height: 4rem;
    font-size: 2rem;
    }

    @include respond-above(md){
    width: 60%;
    line-height: 4rem;
    font-size: 2rem;
    }

    @include respond-above(lg){
    width: 50%;
    line-height: 4rem;
    font-size: 2rem;
    }
  }
}
// END -flex globals
// END - GLOBALS
// #1
#jumbo{
  position: relative;
  height: 100vh;
  background-image: url("../img/bkg/wallMockup.jpg");
  background-position: center bottom;
  background-size: cover;
  & #logo{
    position: absolute;
    top: 2rem;
    left:1rem;
    z-index: 20;
    img{
      height: 7.5rem;
      width: 15rem;
    }
  }
  & #menuHam{
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    background: url("../icons/menuIcon.svg");
    background-size: cover;
    z-index: 50;
  }
  & #carouselContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 50rem;
    border: 0.125rem solid $whiteDirt;
    border-radius: 0.125rem;
    box-shadow: $shadowBlack;
    overflow: hidden;
    z-index: 10;
    img{
      height: 30rem;
      width: 50rem;
    }

  }
}

// #2
#welcome{

  & #infoGraph{

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    img{
      height: 30rem;
      width: 50rem;
    }
  }
}
// #3
#gallery{
  display: block;
  min-height: 60rem;
  background-image: url("../img/bkg/blackBoard.jpg");
  & #galleryIcon{
    img{
      width: 100%;
      max-height: 6rem;
    }
  }
  & .galleyCategory{
    cursor: pointer;
    & .projectName{
      padding: 1rem 0 1rem 1rem;
      img{
        @include respond-below(sm){
          max-height: 6rem;
        }
        @include respond-above(sm){
          max-height: 4rem;
        }
      }
    }
    @include respond-below(sm){
      & #project02 img{
        max-height: 8rem;
      }
      & #project03 img{
        max-height: 7rem;
      }
      & #project04 img{
        max-height: 5.75rem;
      }
    }
  }
  & .photoGroup{
    img{
      padding: 0.5rem;
      max-height: 10rem;
      max-width: 10rem;
    }
  }
}
// #4
#about{

}
// #5
#contact{
  background-image: url("../img/bkg/wall2.jpg");
  background-size: cover;
}
