@import "compass";
@import "compass/reset";
@import "_boxsizing";
@import "_media-queries_mxn";
@import "_flexbox_mxn";
@import "_letStyles";
@import "_hamMenuIcon";
// @import "_gridCSSLayout_mxn";
// #0 GLOBALS
html{
  height: 100%;
}
.wrapper{
  position: relative;
  width: 100%;
  background: #FFF;
  // background: $whiteDirt;
  overflow: hidden;
  a, a:hover{
    text-decoration: none;
    color:inherit;
  }
}
// RWD hidden / visible
.SM{
  display: none;
  @include respond-below(sm){
  display: inline;
  }
}
.MD{
  display: none;
  @include respond-above(sm){
  display: inline;
  }
}
// END - RWD hidden / visible
// flex globals
.cardContainer{
  position: relative;
  @include flexbox();
  padding: 4rem 0 4rem 0;
  min-height: 45rem;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif 'Calibri';
  font-size: 1.5rem;
}
.centeredContent{
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  & .text{
    width: 75%;
    padding: 1rem 0 1rem 0;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: justify;
    opacity: 1;
    z-index: 20;
    @include respond-above(xs){
    width: 85%;
    }
    @include respond-above(sm){
    width: 80%;
    }
    @include respond-above(md){
    width: 70%;
    }
    @include respond-above(lg){
    width: 65%;
    line-height: 4rem;
    }
    h1, h2{
      padding-top: 1.5rem;
      text-align: center;
    }
  }
}
// END - flex globals
// END - GLOBALS
// #1 MENU
.menuContainer{
  position: fixed;
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 2.5rem;
  overflow: hidden;
  z-index: 40;
  ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ul li{
    text-align: center;
    color: white;
  }
  & #menuLogo{
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    img{
      height: 5.625rem;
      width: 11.25rem;
    }
  }
}
// END- #1 MENU
// #2 JUMBO
#jumbo{
  position: relative;
  height: 100vh;
  background-image: url("../img/bkg/wallMockup.jpg");
  background-position: center bottom;
  background-size: cover;
  & #logo{
    position: absolute;
    top: 2rem;
    left:1rem;
    z-index: 20;
    img{
      height: 7.5rem;
      width: 15rem;
    }
  }
  & #phoneIcon{
    position: absolute;
    top: 0.2rem;
    left: 28%;
    z-index: 20;
    @include respond-above(sm){
    left: 40%;
    }
    a{
      height: 3rem;
      width: 10rem;
    }
    img{
      height: 3rem;
      width: 10rem;
    }
  }
  & #menuHam{
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    background: url("../img/icons/menuIcon.svg");
    background-size: cover;
    z-index: 50;
  }
  & #carouselContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 50rem;
    border: 0.125rem solid $whiteDirt;
    border-radius: 0.125rem;
    box-shadow: $shadowBlack;
    overflow: hidden;
    z-index: 10;
    img{
      height: 30rem;
      width: 50rem;
    }

  }
}
 // END - #2 JUMBO
// #3 WELCOME
#welcome{
  & #welcomeIcon{
    padding: 1rem 0 1rem 0;
    img{
      height: 5rem;
    }
  }
  & #infoGraph{
    img{
      height: 30rem;
      width: 50rem;
    }
  }
}
// END -#3 WELCOME
// #4 GALLERY
#gallery{
  display: block;
  min-height: 50rem;
  background-color: #333;
  // background-image: url("../img/bkg/blackBoard.jpg");
  & #accordionOne{
    max-width: 32rem;
    margin: 0 auto;
    // outline: 2px green solid;
  }
  & #galleryIcon{
    img{
      width: 100%;
      max-height: 6rem;
    }
  }
  & .collapsed {
    & .showGallerybtn{
      border-color: #FFF !important;
      & .iconPlus{
        height: 2rem !important;
        width: 2rem !important;
      }
    }
  }
  & .galleyCategory{
    cursor: pointer;
    & .projectName{
      padding: 1rem 0 1rem 1rem;
      & .arrow{
        display: inline-block;
        height: 4rem;
        width: 6rem;
        background: url("../img/icons/rightArrowWhite.svg") center;
        background-size: cover;
      }
      & .showGallerybtn{
        position: relative;
        display: inline-block;
        height: 6rem;
        width: 9rem;
        background-size: cover;
        border: 2px $logoBlue solid;
        border-radius: 0.25rem;
        transition: all .2s ease-in-out;
        &:hover .iconPlus{
          @include respond-above(md){
          height: 3rem !important;
          width: 3rem !important;
          }
        }
        & .btnFilter{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.1);
        }
        & .iconPlus{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 3rem;
          width: 3rem;
          background-image: url("../img/icons/plusWhite.svg");
          background-size: contain;
          transition: all .2s ease-in-out;
        }
      }
      & #galleyBtn01{
        background-image: url("../img/gallery/project01/RMe01-11_thb.jpg");
      }
      & #galleyBtn01a{
        background-image: url("../img/gallery/project01a/RMe01a-06_thb.jpg");
      }
      & #galleyBtn02{
        background-image: url("../img/gallery/project02/RMe02-09_thb.jpg");
      }
      & #galleyBtn03{
        background: url("../img/gallery/project03/RMe03-04_thb.jpg") center center;
        background-size: cover;
      }
      & #galleyBtn03a{
        background: url("../img/gallery/project03a/RMe03a-01_thb.jpg") center center;
        background-size: cover;
      }
      & #galleyBtn04{
        background-image: url("../img/gallery/project04/RMe04-03_thb.jpg");
      }
    }
  }
  & .photoGroup{
    img{
      padding: 0.5rem;
      max-height: 10rem;
      max-width: 10rem;
    }
  }
  & .showMore{
    padding: 1rem;
    p{
      color: #FFF;
    }
  }
}
// END -#4 GALLERY
// #5 ABOUT US
#aboutUs{
  & #aboutUsIcon{
    padding: 1rem 0 1rem 0;
    img{
      height: 5rem;
    }
  }
  & #certyficateGallery{
    img{
      padding: 0.5rem;
      @include respond-below(xs){
      max-width: 5rem;
      }
    }
  }
  & #materialsPhoto{
    padding: 1rem 0 1rem 0;
    img{
      max-height: 8rem;
      @include respond-above(xs){
      max-height: 12rem;
      }
    }
  }
}
// END - #5 ABOUT US
// #6 CONTACT
#contact{
  background-image: url("../img/bkg/wall2.jpg");
  background-size: cover;
  & #footerBkg{
    width: 80%;
    @include respond-above(md){
    width: 40%;
    }
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    & #footerLogo{
      img{
        width: 100%;
        max-height: 14rem;
      }
    }
    & #phoneFooter, #mailTo, #fbRM{
      padding: 1rem;
      img{
        width: 100%;
        max-height: 4rem;
      }
    }
  }
}
// END - #6 CONTACT
